/* From cssbuttons.io by @westitan */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    font-size: 18px;
}

.container {
    width: 100%;
    padding: 0 15px;
}

.form-control {
    border: 0px solid gray;
    width: 100%;
    display: block;
    padding: 12px 15px;
    font-size: 16px;
    margin-bottom: 7px;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}


/* From cssbuttons.io by @adamgiebl */

button {
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #FF0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #FF0072;
    z-index: -1;
}

button:hover,
button:focus {
    color: white;
}

button:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}

.calculation {
    padding: 25px 15px;
    border-radius: 15px;
    margin-top: 70px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 70%;
    margin: 70px auto;
}

.monitor {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 10px;
    margin-bottom: 10px;
    color: #333;
    border-radius: 10px;
}